.box {
    display: block;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 94vh;
}

.title {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 5vh;
    left: 5vh;
    font-size: 1.4em;
    font-weight: bold;
}

.content {
    background-color: bisque;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50vh;
    border-radius: 6px;
    box-shadow: 1px 4px 4px 0 rgb(117 121 125 / 6%), 0 1px 3px 0 rgb(113 117 121 / 20%);
}

.slide {
    top: 2vh;
    margin-top: 4vh;
    position: absolute;
    opacity: 0;
    /* background-color: var(--card-bg-color); */
}

.slide.active {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transform: scale(0.9);
}

.btn_prevnext {
    display: flex;
    justify-content: center;
}

.span {
    flex: auto;
}

.submit_button {
    flex: auto;
}

.text {
    flex: auto;
    margin: 15px;
}

.end_quiz_container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    margin-bottom: 5vh;
}