.button {
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 80px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.button:hover {}

.button:active {}

.button[disabled] {}

.button.contained {}

.button.outlined {}

.button.text {}

.button.small {
    padding: 0.7em 1.5em;
    margin-top: 100px;
    margin-bottom: 60px;
}

.button.large {
    padding: 1.2em 2.4em;
    margin-top: 100px;
    margin-bottom: 60px;
}