.main-box {
    margin: 20px;
}

.main-daily-word-box {}

.main-quiz-box {}

.main-word-mean-box {}

.custom-shape-divider-top-1644507981 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}