.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--carousel-bg-color);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    justify-content: center;
}