.card_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fffffff8;
    margin: 10px;
    border: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 6vh 1vh / 1vh 6vh;
}

.card_cover {
    height: 50px;
    width: 100px;
}

.card_content {
    /* Take available height */
    flex: 1;
}

.h1 {
    margin-top: 1vh;
    margin-left: 1vh;
    font-family: 'Jalnan';
    /* color: rgb(0, 178, 209); */
}

.mean_cover {
    background-color: #cee9d036;
    /* height: 50px; */
    width: auto;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
}


@font-face {
    font-family: 'Jalnan';
    src: url("../../../public//fonts/JalnanOTF.otf") format('opentype');
}