div {
    display: block;
    box-sizing: border-box;
}

#flicker-container {}

.eg-flick-container {}

.quiz-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-slide {
    opacity: 0;
}

.quiz-slide.active {
    display: flex;
    width: 60%;
    height: 100%;
    margin: auto;
    position: absolute;
    z-index: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transform: scale(0.9);
}

.quiz-title {}

.multiple-answer-list {
    margin-top: 24px;
    padding-bottom: 20px;
}

.multiple-answer-item {
    /* overflow: visible; */
    /* position: relative;
    display: block; */
    width: 100%;
    padding: 19px 20px 17px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    overflow-wrap: break-word;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 1px 2px 6px 0 rgb(226 227 231 / 35%);
    box-shadow: 1px 2px 6px 0 rgb(226 227 231 / 35%);
    background-color: #fff;
}

.quiz-question-sub {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    color: #3f51b5;
}

.quiz-question {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
}

.result {
    display: block;
    opacity: 0;
    content: "";
}

.blind {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0px, 0px, 0px, 0px);
}

.answer-select-area {}

.quiz-summary-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px
}

.quiz-summary-title {
    width: 100%;
    font-size: 30px;
    flex: 1 1 30px;
}

.quiz-summary-score {
    width: 100%;
    font-size: 40px;
    flex: 1 1 30px;
}

.quiz-summary-count {
    width: 100%;
    font-size: 30px;
    flex: 1 1 30px;
}

.clicked {
    background-color: #fff;
    color: black;
}