.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    border: 10px;
    width: 80vh;
    height: 45vh;
}

.content {}

.word {
    font-family: 'Jalnan';
    position: relative;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 1.5vh;
}

.morphem {}

.mean {
    margin: 10px;
    font-size: 2vh;
    font-weight: 600;
}

@font-face {
    font-family: 'Jalnan';
    src: url("../../../public//fonts/JalnanOTF.otf") format('opentype');
}