.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    border: 10px;
}

.cover {
    height: 50px;
    width: 100%;
}

.content {
    /* Take available height */
    flex: 1;
}

.word {
    position: relative;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 1.5vh;
}

.mean {}