.card_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color);
    margin: 10px;
    border: 10px;
}

.card_cover {
    height: 50px;
    width: 100%;
}

.card_content {
    /* Take available height */
    flex: 1;
}