.card_container {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #f3f1ec98;
    margin: 10px;
    max-width: 100vh;
    height: 20vh;
    border: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.card_cover {
    height: 50px;
    width: 100px;
}

.card_content {
    /* Take available height */
    flex: 1;
}

.mean_cover {
    /* height: 50px; */
    /* width: 450px; */
    margin-left: 1vh;
    margin-top: 10px;
    margin-right: auto;
}

.title {
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}

.test {
    margin-left: 1vh;
    display: inline-block;
}

.title_cover {
    display: inline-block;
}

.button_cover {
    position: absolute;
    bottom: 2vh;
}