.container {
    background-color: #ced1faa1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    font-weight: bold;
    font-family: 'Jalnan';
    font-size: 30px;
    padding-top: 5vh;
    margin: 20px;
}

@font-face {
    font-family: 'Jalnan';
    src: url("../../../public//fonts/JalnanOTF.otf") format('opentype');
}