:root {
    /* Color */
    --blue-color: #8D94EE;
    --red-color: #EF777B;
    --pink-color: #FF90BC;
    --orange-color: #FFA88F;
    --yellow-color: #FFCE6E;
    --grey-dark-color: #464555;
    --grey-light-color: #AAA9BC;
    --btn-text-color: black;
    --btn-bg-color: skyblue;
    /* Component */
    /* Button */
    --btn-bg-color: var(--orange-color);
    /* Card */
    --card-bg-color: var(--yellow-color);
    /* Carousel */
    --carousel-bg-color: var(--blue-color);
    /* Size */
    --side-padding: 12px;
    --avartar-size: 36px;
    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    display: none;
}

div {
    display: block;
}

thead {
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

thead th {
    position: relative;
    height: 40px;
    user-select: none;
    background: #e6eaf3;
    color: #464555;
    font-size: 15px;
    line-height: 1.3;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #464555;
    text-align: center;
    text-decoration: none;
    display: table-cell;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody td {
    border-block-width: 1px;
    border-bottom-style: solid;
    border-color: #464555;
    height: 40px;
    box-sizing: border-box;
    font-weight: normal;
    vertical-align: middle;
    padding: 8px 4px;
}